<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>Research Papers</title>
      <!-- Bootstrap -->
      <link href="http://104.131.163.33/bootstrap/css/bootstrap.min.css" rel="stylesheet">
      <link href="http://104.131.163.33/bootstrap/css/yetibootstrap.min.css" rel="stylesheet">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->
   </head>
   <body ng-app="">
      <div ng-include="'header.html'"></div>
      <div class="row">
         <div class="col-md-2"></div>
         <div class="col-md-8" style = "background: 	#e0e0d1">
            <div class="panel panel-default" style="border:0">
               <div class="panel-heading">
                  <h1>Team Research Papers</h1>
               </div>
               <div class="panel-body">
                  <div class="row">
                     <div class="col-md-6">
                        <div class="panel panel-default">
                           <div class="panel-body" style = "background: 	#e0e0d1">
                              <h2>Addison Juarez</h2>
                           </div>
                        </div>
                        <img src="https://avatars2.githubusercontent.com/u/6789375?v=3&s=466" class="img-rounded img-responsive center-block" alt="Responsive image" style="height: 60%; width: 60%;">
                        <p>
                        <h4 class="page-header"><strong>Bio:</strong> I am studying Computer Science at The University of Texas at Austin and I am graduating this May. I enjoy playing board and video games as well as playing soccer.<br></h4>
                        <h4 class = "text-center">
                           Major Responsibilities: Backend, Frontend<br>
                           No. of Commits: 12<br>
                           No. of Issues: 22<br>
                           No. of Unit Tests: 0
                        </h4>
                        </p>
                     </div>
                     <div class="col-md-6">
                        <div class="panel panel-default" style = "background: 	#e0e0d1">
                           <div class="panel-body" >
                              <h2>Charles Tian</h2>
                           </div>
                        </div>
                        <img src="https://avatars1.githubusercontent.com/u/3202957?v=3&s=400" class="img-rounded img-responsive center-block" alt="Responsive image" style="height: 60%; width: 60%;">
                        <p>
                        <h4  class ="page-header"><strong>Bio: </strong>UT Austin Senior<br> </h4>
                        <h4 class = "text-center">Major Responsibilities: Hosting setup, Frontend<br>
                           No. of Commits: 22<br>
                           No. of Issues: 5<br>
                           No. of Unit tests: 0
                        </h4>
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="panel panel-default" style = "background: 	#e0e0d1">
                           <div class="panel-body">
                              <h2>Ryan Shea</h2>
                           </div>
                        </div>
                        <img src="https://i.imgur.com/MjAIOXF.jpg" class="img-rounded img-responsive center-block" alt="Responsive image" style="height: 58%; width: 58%;">
                        <p>
                        <h4 class= "page-header"><strong>Bio: </strong>UT Austin Student<br></h4>
                        <h4 class = "text-center">Major Responsibilities: Frontend<br>
                           No. of Commits: 9<br>
                           No. of Issues: 0<br>
                           No. of Unit tests: 0
                        </h4>
                        </p>
                     </div>
                     <div class="col-md-6">
                        <div class="panel panel-default" style = "background: 	#e0e0d1">
                           <div class="panel-body">
                              <h2>Lior Vansteenkiste</h2>
                           </div>
                        </div>
                        <img src="http://i.imgur.com/BJqSX6z.jpg" class="img-rounded img-responsive center-block" alt="Responsive image" style="height: 60%; width: 60%;">
                        <p>
                        <h4 class= "page-header"><strong>Bio: </strong>UT Austin Junior<br></h4>
                        <h4 class = "text-center">Major Responsibilities: Frontend<br>
                           No. of Commits: 5<br>
                           No. of Issues: 1<br>
                           No. of Unit tests: 0
                        </h4>
                        </p>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-md-6">
                        <div class="panel panel-default" style = "background: 	#e0e0d1">
                           <div class="panel-body">
                              <h2>Eric Erickson</h2>
                           </div>
                        </div>
                        <div class="row">
                           <div class="col-md-6"><img src="https://i.imgur.com/tYjP7gW.jpg" class="img-rounded img-responsive center-block" alt="Responsive image" style="height: 65%; width: 70%;"></div>
                           <div class="col-md-6 " >
                              <p>
                              <h4 class ="page-header"> <strong>Bio: </strong>  Hey my name is Eric Erickson. I'm UT computer science student graduating in May. I like to hang out with my friends at UT and go out and explore Austin.</h4>
                              <br>
                              <h4 class = "text-center" >Major Responsibilities: Backend<br>
                                 No. of Commits: 11<br>
                                 No. of Issues: 2<br>
                                 No. of Unit Tests: 14
                              </h4>
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-6">

                        <div class="text-center" style = "padding-top: 150px;">
            <div class="container-fluid">
                <i class="fa fa-play-circle fa-5x"></i>
                <h2 class="page-header">Run Unittests</h1>
                <div class="row" align="center" stlye="padding-bottom: 15px;">
                    <a href="run_tests"><button type="button" class="btn " data-toggle="modal" data-target="#myModal">Run Tests</button></a>
                </div>
                <br>
            </div>
            </div>

                     </div>
                  </div>
               </div>
               <h1 class = "text-center page-header"> Our Metadata</h1>
               <div class="row">
                  <div class="col-md-4 text-center">
                     <i class="fa fa-bar-chart fa-5x" aria-hidden="true"></i>
                     <p>
                     <h3 class= "page-header text center"> Our Team's Stats <br></h3>
                     </p>
                     <p>
                     <h4>
                        No. of Commits: 15<br>
                        No. of Total Issues: 35<br>
                        No. of Total Unit tests: 14
                     </h4>
                     </p>
                  </div>
                  <div class="col-md-4 text-center">
                     <i class="fa fa-cogs fa-5x" aria-hidden="true"></i>
                     <p class "text-center">
                     <h3 class= "page-header text-center"> Our Tools <br></h3>
                     <h4 class = "text-center">
                        SQLAlchemy <br>
                        Slack <br>
                        Apiary <br>
                        yUML <br>
                        Flask <br>
                        Bootstrap<br>
                        AngularJS
                     </h4>
                     </p>
                  </div>
                  <div class="col-md-4 text-center">
                     <i class="fa fa-link fa-5x" aria-hidden="true"></i>
                     <p class "text-center">
                     <h3 class= "page-header text-center"> Our Stuff <br></h3>
                     <h4 class = "text-center">
                        <a href="https://app.apiary.io/utcs373f/">Apiary API Link</a>  <br>
                        <a href="https://github.com/chyt/cs373-idb">Github Repo</a> <br>
                        <a href="https://github.com/chyt/cs373-idb/issues">Github Issue Tracker</a><br>
                        <a href="https://github.com/chyt/cs373-idb/wiki">Github Wiki</a><br>
                     </h4>
                     </p>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-md-2"></div>
      </div>
      <!-- div (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="http://104.131.163.33/bootstrap/js/bootstrap.min.js"></script>
   </body>
</html>

