<!DOCTYPE html>
<html lang="en" >
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Research Paper Database</title>

    <!-- Bootstrap -->
    <link href="http://104.131.163.33/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://104.131.163.33/bootstrap/css/yetibootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="" style = "background-image:url(http://www.papaseparativarese.org/file/2016/05/making_the_decision_to_buy_a_custom_research_paper.jpg); background-repeat: no-repeat; background-size: cover;">
    <div  >
    <div ng-include="'header.html'"></div>
    <div class="jumbotron">
      <div class="container">
        <h2>Research Paper Directory</h2>
        <p>Welcome to the RPD, a tool designed to help you review research papers. You can organize the publications by the year they were published, the journal that printed it, or view a vast list of documents.</p>
        <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p> -->
      </div>
    </div>

    <div class="container" style = "background: #FFFFFF";>
      <!-- Example row of columns -->
      <div class="row" bgcolor="#FFFFFF">
        <div class="col-md-4" bgcolor="#FFFFFF">
          <h3>Browse Research Papers</h3>
          <p>See the list of research papers stored.</p>
          <p><a class="btn btn-default" href="/papers1" role="button">View more &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h3>Browse Publishing Journals</h3>
          <p>View the list of journals that publish papers</p>
          <p><a class="btn btn-default" href="/journals1" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h3>Browse Publishing Years</h3>
          <p>Sort the papers by the year they were published</p>
          <p><a class="btn btn-default" href="/years1" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p></p>
      </footer>
    </div>
    <!-- div (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="http://104.131.163.33/bootstrap/js/bootstrap.min.js"></script>
  </div>
  </body>
</html>
