<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Research Papers</title>

    <!-- Bootstrap -->
    <link href="http://104.131.163.33/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://104.131.163.33/bootstrap/css/yetibootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="">
    <div ng-include="'header.html'"></div>

    <div class="panel panel-default">
  <div class="panel-body">
  2011
  </div>
  <div class="panel-footer"><h2>Top Subject: Medicine & public Health </h2> <h2>Top Keyword: NMR </h2> <h2> 	Top Journal: Encyclopedic Dictionary of Polymers </h2> <h2> Total Papers : 400950 </h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6"><div class="panel panel-default">
<div class="panel-body">
  Papers
</div>
<div class="panel-footer">
  <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>#</th>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Sex-specific association of rs16996148 SNP in the NCAN/CILP2/PBX4 and serum lipid levels in the Mulao and Han populations</td>

    </tr>
    <tr>
      <td>2</td>
      <td>Fork head transcription factor is required for ovarian mature in the brown planthopper, Nilaparvata lugens (Stål)</td>

    </tr>
    <tr class="info">
      <td>3</td>
      <td>Identification of pyrimethamine- and chloroquine-resistant Plasmodium falciparum in Africa between 1984 and 1998: genotyping of archive blood samples</td>

    </tr>
    <tr class="success">
      <td>4</td>
      <td>The nuclear factor-κB inhibitor pyrrolidine dithiocarbamate reduces polyinosinic-polycytidilic acid-induced immune response in pregnant rats and the behavioral defects of their adult offspring</td>

    </tr>
    <tr class="danger">
      <td>5</td>
      <td>Efficacy and safety of once-daily NVA237 in patients with moderate-to-severe COPD: the GLOW1 trial</td>

    </tr>
    <tr class="warning">
      <td>6</td>
      <td>A novel SNP in COMT is associated with alcohol dependence but not opiate or nicotine dependence: a case control study</td>

    </tr>
    <tr class="active">
      <td>7</td>
      <td>The impact of injuries study. multicentre study assessing physical, psychological, social and occupational functioning post injury - a protocol</td>

    </tr>
    <tr class="success">
      <td>8</td>
      <td>Development of pulmonary arterial hypertension in mice over-expressing S100A4/Mts1 is specific to females</td>

    </tr>
    <tr class="danger">
      <td>9</td>
      <td>Fluticasone furoate: once-daily evening treatment versus twice-daily treatment in moderate asthma</td>

    </tr>

    <tr>
      <td>10</td>
      <td>"Assessing the influence of the built environment on physical activity for utility and recreation in suburban metro Vancouver"</td>

    </tr>

  </tbody>
</table>
</div>
</div></div>

  <div class="col-md-6"></div>
</div>
